.foto-mini {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #dee2e6;
}

.card-estudiante {
    transition: 0.2s;
}

.card-estudiante:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}